.ModalConfirm {
    display     : none; /* Hidden by default */
    position    : fixed; /* Stay in place */
    z-index     : 999; /* Sit on top */
    padding-top : 70px; /* Location of the box */
    padding     : 70px 50px 50px 50px ;
    left        : 0;
    top         : 0;
    width       : 100%; /* Full width */
    height      : 100%; /* Full height */
    overflow    : auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    .modal-content2 {
        background-color: #ffffff;
        margin: auto;
        padding: 20px;
        // border: 1px solid #888;
        width: 40% !important;
        border-radius: 10px;
        // width: 100%;

        .modal-header {
            border: none;
            .close {
                width: 40px;
                height: 40px;
                color: white;
                float: right !important;
                font-size: 28px;
                font-weight: bold;
                background-color: #5e5e5e;
                border-radius: 100%;
                top: 25px;
                right: -20px;
                position: relative;
                z-index: 100;
                background-color: #0f0f0f;
                opacity: 1;
                
                span {
                    color: #f5f5f5;
                }
            }

            .close:hover,
            .close:focus {
                text-decoration: none;
                cursor: pointer;
                opacity: 1;
            }
        }

        .modal-body {
            background-color: #ffffff;
            border-radius: 10px 10px 0 0;
            padding: 0rem;

            .faked {
                text-align: center;
                // display: none;
                h2 {
                    font-family: Montserrat;
                    font-weight: bold;
                    color: #9b1c30;
                    margin-bottom: 2rem;
                }

                p {
                    font-family: Montserrat;
                    font-weight: bold;
                    color: #5b5b5b;
                }
            }

            .originalscan {
                text-align: center;
                display: none;
                p {
                    font-family: Montserrat;
                    font-weight: bold;
                    color: #5b5b5b;
                }

                h2 {
                    font-family: Montserrat;
                    font-weight: bold;
                    color: #e3c287;
                    margin-bottom: 2rem;
                }
            }

            .originalscanSudah {
                text-align: center;
                display: none;
                p {
                    font-family: Montserrat;
                    font-weight: bold;
                    color: #5b5b5b;
                }

                h2 {
                    font-family: Montserrat;
                    font-weight: bold;
                    color: #5b5b5b;
                    margin-bottom: 2rem;
                }
            }
        }

        .modal-footer {
            background-color: #ffffff;
            border-top: 0;
            padding: 0rem;
            border-radius: 0 0 10px 10px;
            .tombol {
                display: none;
            }
        }

    }
}