.bodylogin {
    background-color: #bababa;
    // background-image: url('/img/icon/header_pattern.png');
    background-blend-mode:color-dodge;
    justify-self: center;
    padding-top:5%;
    padding-bottom: 5%;
    // opacity: 0.5;
}


.page-login {
    .row {
        margin-left: 10px;
        margin-right: 10px;
    }

    .logo {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    .box-login {
        
        padding: 30px;
        background: white;
        border-radius: 5px;

        .form-login {
            padding: 0 30px 30px 30px;
            padding-bottom: 0;
        }

        .forget-password {
            padding: 10px;
        }
    }
}