::-webkit-input-placeholder {
    font-style: italic;
    font-size: 12px;
    color: #aaa;
    text-transform: capitalize;
}

:-moz-placeholder {
    font-style: italic;
    font-size: 12px;
    color: #aaa;
    text-transform: capitalize;
}

::-moz-placeholder {
    font-style: italic;
    font-size: 12px;
    color: #aaa;
    text-transform: capitalize;
}

:-ms-input-placeholder {
    font-style: italic;
    font-size: 12px;
    color: #aaa;
    text-transform: capitalize;
}

@media (max-width: 991px) {
    .modalfront {
        padding: 0;
        .modal-content2 {
            margin-top: 50px;
            width: 85% !important;
            padding: 0;
    
            .modal-body {
                padding: 30px;
                padding-bottom: 0;
            }
    
        }
    }

    .ScanModal {
        padding: 0;
        .modal-content2 {
            margin-top: 50px;
            width: 85% !important;
            padding: 0;
            .modal-body {
                padding: 50px;

                .kotak1 {
                    top: 50px;
                    left: 50px;
                }
                
                .kotak2 {
                    top: 50px;
                    right: 50px;
                }
    
                .kotak3 {
                    left: 50px;
                    bottom: 50px;
                }
    
                .kotak4 {
                    right: 50px;
                    bottom: 50px;
                }
    
            }
        }
    }

    .HasilScan {
        padding: 0;
        .modal-content2 {
            margin-top: 50px;
            width: 85% !important;
            padding: 0;
    
            .modal-body {
                padding: 30px;
            }
        }
    }

    .HasilScanTiket {
        padding: 0;
    
        .modal-content2 {
            margin-top: 50px;
            width: 85% !important;
            padding: 0;

            margin-bottom: 25px;
    
            .modal-body {
                padding: 30px;
                border-radius: 3rem;
    
                .originalproduct {
                    width: 100%;
                    border: none;
                }
    
                .tiket {
                    width: 100%;
                    border: none;
                }
            }
    
        }
    }

    .ModalPromo {
        padding: 0;
    
        .modal-content2 {
            margin-top: 50px;
            width: 85% !important;
            padding: 0;

        }
    }

    .MessageLoginEmail {
        padding: 0;
        .modal-content2 {
            margin-top: 50px;
            width: 85% !important;
            padding: 0;
    
            .modal-body {
                padding: 30px;
            }
        }
    }
}