body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.bodylogin {
  background-color: #bababa;
  background-blend-mode: color-dodge;
  justify-self: center;
  padding-top: 5%;
  padding-bottom: 5%; }

.page-login .row {
  margin-left: 10px;
  margin-right: 10px; }

.page-login .logo {
  margin-top: 1rem;
  margin-bottom: 2rem; }

.page-login .box-login {
  padding: 30px;
  background: white;
  border-radius: 5px; }
  .page-login .box-login .form-login {
    padding: 0 30px 30px 30px;
    padding-bottom: 0; }
  .page-login .box-login .forget-password {
    padding: 10px; }

::-webkit-input-placeholder {
  font-style: italic;
  font-size: 12px;
  color: #aaa;
  text-transform: capitalize; }

:-moz-placeholder {
  font-style: italic;
  font-size: 12px;
  color: #aaa;
  text-transform: capitalize; }

::-moz-placeholder {
  font-style: italic;
  font-size: 12px;
  color: #aaa;
  text-transform: capitalize; }

:-ms-input-placeholder {
  font-style: italic;
  font-size: 12px;
  color: #aaa;
  text-transform: capitalize; }

@media (max-width: 991px) {
  .modalfront {
    padding: 0; }
    .modalfront .modal-content2 {
      margin-top: 50px;
      width: 85% !important;
      padding: 0; }
      .modalfront .modal-content2 .modal-body {
        padding: 30px;
        padding-bottom: 0; }
  .ScanModal {
    padding: 0; }
    .ScanModal .modal-content2 {
      margin-top: 50px;
      width: 85% !important;
      padding: 0; }
      .ScanModal .modal-content2 .modal-body {
        padding: 50px; }
        .ScanModal .modal-content2 .modal-body .kotak1 {
          top: 50px;
          left: 50px; }
        .ScanModal .modal-content2 .modal-body .kotak2 {
          top: 50px;
          right: 50px; }
        .ScanModal .modal-content2 .modal-body .kotak3 {
          left: 50px;
          bottom: 50px; }
        .ScanModal .modal-content2 .modal-body .kotak4 {
          right: 50px;
          bottom: 50px; }
  .HasilScan {
    padding: 0; }
    .HasilScan .modal-content2 {
      margin-top: 50px;
      width: 85% !important;
      padding: 0; }
      .HasilScan .modal-content2 .modal-body {
        padding: 30px; }
  .HasilScanTiket {
    padding: 0; }
    .HasilScanTiket .modal-content2 {
      margin-top: 50px;
      width: 85% !important;
      padding: 0;
      margin-bottom: 25px; }
      .HasilScanTiket .modal-content2 .modal-body {
        padding: 30px;
        border-radius: 3rem; }
        .HasilScanTiket .modal-content2 .modal-body .originalproduct {
          width: 100%;
          border: none; }
        .HasilScanTiket .modal-content2 .modal-body .tiket {
          width: 100%;
          border: none; }
  .ModalPromo {
    padding: 0; }
    .ModalPromo .modal-content2 {
      margin-top: 50px;
      width: 85% !important;
      padding: 0; }
  .MessageLoginEmail {
    padding: 0; }
    .MessageLoginEmail .modal-content2 {
      margin-top: 50px;
      width: 85% !important;
      padding: 0; }
      .MessageLoginEmail .modal-content2 .modal-body {
        padding: 30px; } }

.ModalConfirm {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 999;
  /* Sit on top */
  padding-top: 70px;
  /* Location of the box */
  padding: 70px 50px 50px 50px;
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }
  .ModalConfirm .modal-content2 {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    width: 40% !important;
    border-radius: 10px; }
    .ModalConfirm .modal-content2 .modal-header {
      border: none; }
      .ModalConfirm .modal-content2 .modal-header .close {
        width: 40px;
        height: 40px;
        color: white;
        float: right !important;
        font-size: 28px;
        font-weight: bold;
        background-color: #5e5e5e;
        border-radius: 100%;
        top: 25px;
        right: -20px;
        position: relative;
        z-index: 100;
        background-color: #0f0f0f;
        opacity: 1; }
        .ModalConfirm .modal-content2 .modal-header .close span {
          color: #f5f5f5; }
      .ModalConfirm .modal-content2 .modal-header .close:hover,
      .ModalConfirm .modal-content2 .modal-header .close:focus {
        text-decoration: none;
        cursor: pointer;
        opacity: 1; }
    .ModalConfirm .modal-content2 .modal-body {
      background-color: #ffffff;
      border-radius: 10px 10px 0 0;
      padding: 0rem; }
      .ModalConfirm .modal-content2 .modal-body .faked {
        text-align: center; }
        .ModalConfirm .modal-content2 .modal-body .faked h2 {
          font-family: Montserrat;
          font-weight: bold;
          color: #9b1c30;
          margin-bottom: 2rem; }
        .ModalConfirm .modal-content2 .modal-body .faked p {
          font-family: Montserrat;
          font-weight: bold;
          color: #5b5b5b; }
      .ModalConfirm .modal-content2 .modal-body .originalscan {
        text-align: center;
        display: none; }
        .ModalConfirm .modal-content2 .modal-body .originalscan p {
          font-family: Montserrat;
          font-weight: bold;
          color: #5b5b5b; }
        .ModalConfirm .modal-content2 .modal-body .originalscan h2 {
          font-family: Montserrat;
          font-weight: bold;
          color: #e3c287;
          margin-bottom: 2rem; }
      .ModalConfirm .modal-content2 .modal-body .originalscanSudah {
        text-align: center;
        display: none; }
        .ModalConfirm .modal-content2 .modal-body .originalscanSudah p {
          font-family: Montserrat;
          font-weight: bold;
          color: #5b5b5b; }
        .ModalConfirm .modal-content2 .modal-body .originalscanSudah h2 {
          font-family: Montserrat;
          font-weight: bold;
          color: #5b5b5b;
          margin-bottom: 2rem; }
    .ModalConfirm .modal-content2 .modal-footer {
      background-color: #ffffff;
      border-top: 0;
      padding: 0rem;
      border-radius: 0 0 10px 10px; }
      .ModalConfirm .modal-content2 .modal-footer .tombol {
        display: none; }
