<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Mobil</th>
                    <th>Driver</th>
                    <th>Tanggal Ambil</th>
                    <th>Tanggal Kembali</th>
                </tr>
            </thead>
            <tbody id="tableConfirm">
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript" src="/sekawanapprove/js/var.js"></script>
<script type="text/javascript" src="/sekawanapprove/js/history.js"></script>