<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Mobil</th>
                    <th>Driver</th>
                    <th>Tanggal Ambil</th>
                    <th>Tanggal Kembali</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="tableConfirm">
            </tbody>
        </table>
    </div>
</div>

<div id="ModalConfirm" class="ModalConfirm">

    <!-- Modal content -->
    <div class="modal-content2">
        <div class="modal-body">
            {{!-- <div class="judul">
                <center>
                    <h2>Message</h2>
                </center>
            </div> --}}
            <div class="message" id="message">
                {{!-- <p>gagal</p> --}}
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="closeDetail">Close</button> 
        </div>
    </div>
</div>
<script type="text/javascript" src="/sekawanapprove/js/var.js"></script>
<script type="text/javascript" src="/sekawanapprove/js/home.js"></script>